
{% for fare in fares_list %}
  <tr>
    <td>{{fare_id}}</td>
    <td>{{fare.PassengerTypeQuantity.Quantity}}{{fare.PassengerTypeQuantity.Code}}</td>
    <td>{% for FareBasisCode in fare.FareBasisCodes.FareBasisCode %}{{FareBasisCode.BookingCode}} {% endfor %}</td>
    <td>{% for FareBasisCode in fare.FareBasisCodes.FareBasisCode %}{{FareBasisCode.AvailabilityBreak}} {% endfor %}</td>
    <td>{% for FareBasisCode in fare.FareBasisCodes.FareBasisCode %}{{FareBasisCode.content}} {% endfor %}</td>
    <td>
      {% for BaggageInformation in fare.PassengerFare.TPA_Extensions.BaggageInformationList.BaggageInformation %}
        {{ BaggageInformation.Segment }} {{ BaggageInformation.Allowance }}
        {% endfor %}
    </td>
    <td>a</td>
    <td>a</td>
    <td>{{FARE.LastTicketDate}}</td>
  </tr>
{% endfor %}
