

<div class="row no-gutters border rounded overflow-hidden flex-mb-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-success">{{option.SequenceNumber}} - {{option.AirItinerary.DirectionInd}}</strong>
    <a data-toggle="collapse" href="#flight_collapse_{{option.SequenceNumber}}" role="button" aria-expanded="false" aria-controls="flight_collapse_{{option.SequenceNumber}}">Flight Info</a>

        <div class="col-mb-6" id="flight_collapse_{{option.SequenceNumber}}" style="">
          {% for leg in option.AirItinerary.OriginDestinationOptions.OriginDestinationOption %}
            <div class="col-sm-1 text-muted">{{leg.ElapsedTime}} minutes
            </div>
            {% for flight in leg.FlightSegment %}
            <div class="col-sm-6">
                <p class="mb-auto">
                    <div class="row">
                      <div class="col-sm-6"><h5>{{flight.DepartureAirport.LocationCode}}</h5> Term: {{flight.DepartureAirport.TerminalID}}<br>{{flight.DepartureDateTime}}</div>
                      <div class="col-sm-6"><h5>{{flight.ArrivalAirport.LocationCode}}</h5> Term: {{flight.ArrivalAirport.TerminalID}}<br>{{flight.ArrivalDateTime}}</div>
                      <div class="col-sm-6">{{flight.MarketingAirline.Code}} {{flight.FlightNumber}}</div>
                    </div>



                </p>
              </div>
            {% endfor %} <!--flight-->
          {% endfor %}
        </div> <!--leg-->
        <div class="col-mb-6" id="" style="">
      {% for fare in option.AirItineraryPricingInfo %}
        <div  class="row">
          <div class="col-sm-3">Total Fare: {{fare.ItinTotalFare.TotalFare.CurrencyCode}} {{fare.ItinTotalFare.TotalFare.Amount}}</div>
          <div class="col-sm-3">Base Fare: {{fare.ItinTotalFare.BaseFare.CurrencyCode}} {{fare.ItinTotalFare.BaseFare.Amount}}</div>
          <div class="col-sm-3">Last Ticket Date: {{fare.LastTicketDate}}</div>
          <a data-toggle="collapse" href="#fare_collapse_{{option.SequenceNumber}}" role="button" aria-expanded="false" aria-controls="collapseExample">More Info</a>
        </div>
        <div id="fare_collapse_{{option.SequenceNumber}}" class="row">


          <div class="container" >
            {% for fare in fare.PTC_FareBreakdowns.PTC_FareBreakdown %}
            <div class="row" style="background-color:grey">
              <div class="col-sm-1">PTC</div>
              <div class="col-sm-1">Bags</div>
              <div class="col-sm-3">Fare Basis</div>

            </div>
              <div class="row" style="background-color:white">
                <div class="col-sm-1">{{fare.PassengerTypeQuantity.Quantity}}{{fare.PassengerTypeQuantity.Code}}</div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                  <div class="row">
                  {% for FareBasisCode in fare.FareBasisCodes.FareBasisCode %}
                    <div class="col-sm-3">{{FareBasisCode.BookingCode}}</div>
                    <div class="col-sm-3">{{FareBasisCode.AvailabilityBreak}}</div>
                    <div class="col-sm-6">{{FareBasisCode.content}}</div>
                  {% endfor %}
                  </div>
                </div>
                <div class="col-sm-3">
                  {% for BaggageInformation in fare.PassengerFare.TPA_Extensions.BaggageInformationList.BaggageInformation %}
                    {{ BaggageInformation.Segment }} |||
                    {{ BaggageInformation.Allowance }}

                  {% endfor %}
                </div>

              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>




</div>
