
{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

      <div class="container justify-center ">
        <h1></h1>


      </div>
      <div class="container justify-center ">
        <h1>BFM JSON Parser !</h1>
        <div class="cl" >
          {% if bfm_rs %}
          <h6>Itineraries: {{ bfm_rs.OTA_AirLowFareSearchRS.PricedItinCount}}</h6>
          <h6>BrandedOneWayItinCount: {{ bfm_rs.OTA_AirLowFareSearchRS.BrandedOneWayItinCount}}</h6>
          <h6>SimpleOneWayItinCount: {{ bfm_rs.OTA_AirLowFareSearchRS.SimpleOneWayItinCount}} </h6>
          <h6>
            {% if bfm_rs.OTA_AirLowFareSearchRS.OneWayItineraries %}
              {{ bfm_rs.OTA_AirLowFareSearchRS.PricedItineraries.PricedItinerary|length }} One Ways
            {% endif %}
          </h6>
          {% if bfm_rs.OTA_AirLowFareSearchRS.OneWayItineraries %}
          {% endif %}
          {% endif %}

        </div>
      </div>
      {% if bfm_rs %}
        {% for option in bfm_rs.OTA_AirLowFareSearchRS.PricedItineraries.PricedItinerary%}
          <div class="container">
            {% include "tags/itinerary.html" with option=option greeting="Hello" %}
          </div>
        {% endfor %}
      {% else %}
        <div class="jumbotron">
          Error
        </div>
      {% endif %}

{% endblock %}
