{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
  <style media="screen">
    body {
      background-top: 10px;
      background-image: url("https://picsum.photos/2000/780/?random");
      background-repeat: no-repeat;
      background-position: center;
      background-color:ghostwhite;
    }
  </style>
  <div class="justify-content-center col-sm-offset-1">

    <div class="row offset-sm-1 justify-content-center">
      <div class="col-xs">
        <div class="card col-sm-10" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted"><a href="{% url 'parseBFM:Createsendbfm'%}" class="card-link">Send BFM JSON</a></h5>
            <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
          </div>
        </div>
      </div>
      <div class="col-xs">
        <div class="card col-sm-10" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted"><a href="{% url 'parseBFM:CreateBFM_Parse'%}" class="card-link"> BFM JSON RS</a></h5>
            <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
          </div>
        </div>
      </div>
      <div class="col-xs">
        <div class="card col-sm-10" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted"><a href="{% url 'parseBFM:BFM_ParseListView'%}" class="card-link"> See List </a></h5>
            <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript">


  </script>
{% endblock %}

<div class="container">
  <div id="icecream">

  </div>

</div>
